#include <winver.h>

#define VER_FILEVERSION			7,8
#define VER_FILEVERSION_STR		"7.8"
#define VER_PRODUCTVERSION		7,8
#define VER_PRODUCTVERSION_STR	"7.8"

#define VER_FILEFLAGSMASK		0x00
#define VER_FILEFLAGS			0x00
#define VER_FILEOS				0x04	// WIN32
#define VER_FILETYPE			0x01	// EXE
#define VER_FILESUBTYPE			0x00

#define VER_COMPANYNAME_STR		"XashXT Group"
#define VER_LEGALCOPYRIGHT_STR	"XashXT 2010"
#define VER_PRODUCTNAME_STR		"Xash3D launcher"
#define VER_INTERNALNAME_STR	""
#define VER_ANSICP

#define VER_FILEDESCRIPTION_STR		"Xash3D launcher"
#define VER_ORIGINALFILENAME_STR	"hl.exe"
#define VER_INTERNALNAME_STR		"xash"

#include <common.ver>

// Icon
MAIN		ICON    			"game.ico"
